<!DOCTYPE html>
<html>
<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

<meta charset="ISO-8859-1">
<title>Asta Funding Banking Transaction Reports</title>
<!-- CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />

</head>
<body>
	<h1>&nbsp;&nbsp;Asta Funding Banking Transaction Reports</h1>
	&nbsp;&nbsp;Date of Report Generation : <%= new Date() %>
	<br> <% include reportByTxAmountVsBank2.ejs %>	
	<br> <br> <br>
	<br> <% include reportByTxCountVsDate2.ejs %>
	<br> <br> <br>
	<br> <% include reportByTxCountVsDate.ejs %>
	<br> <br> <br>
	<br> <% include reportByTxCountVsBank.ejs %>
</body>
</html>