<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>

<div id="reportByTxCountVsDate" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

<script type="text/javascript">
$(function () {
    $('#reportByTxCountVsDate').highcharts({
        title: {
            text: 'Monthly Bank Transaction Count in each year',
            x: -20 //center
        },
        subtitle: {
            text: '* Date of Report Generation : <%= new Date() %>',
            floating: true,
            align: 'right',
            verticalAlign: 'bottom',
            y: 15
        },
        xAxis: {
            categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
                'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
        },
        yAxis: {
            title: {
                text: 'Bank Transaction Count '
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        tooltip: {
            valueSuffix: ' Transactions'
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
        series: [{
            name: '2014',
            data: [<%=bankTransctionInYear2014 %>]
        },{
            name: '2015',
            data: [<%=bankTransctionInYear2015 %>]
        },{
            name: '2016',
            data: [<%=bankTransctionInYear2016 %>]
        }
        ]
    });
});

</script>
<body><br><br>
<b>&nbsp;&nbsp;Note</b> : Report based on number of transactions per month in 2014, 2015, 2016. The 2014 data available from June month onwards and 2016 is on going.
</body>
</html>